
body{background-image:linear-gradient| to botton,rgba(0,0,0,0.9) 0%,rgba (0,0,0,0.9) 100%), url(../figuras/andes.jpg);}
     
    
h3   {color:black;}
h4   {color:black;}
p    {color:black; font-size;20pt; font-family: "Verdana", sans-serif;}

table.center {
            margin-left:auto;margin-right


